
section{
    position: absolute;
    top: 250px;
    left: 180px;
}

h3{
    font-size: 16px;
    margin: 0;
}

span{
    padding-left: 3px;
    font-size: 14px;
    color: grey;
}

div{
    position: relative;
    left: 8px;
    top: -50px;
}